<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div class="row">
        <div class="col-sm-4">
            <form id="dataForm">
                <h3>Register</h3>
                <div class="form-group">
                    <label>Email</label>
                    <input class="form-control" type="text" id="emailInput" />
                </div>
                <div class="form-group">
                    <label>Password</label>
                    <input class="form-control" type="password" id="passwordInput" />
                </div>
                <div class="form-group">
                    <label>Confirm Password</label>
                    <input class="form-control" type="password" id="confirmPasswordInput" />
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-default" id="registerButton">Register</button>
                </div>
                <input type="hidden" id="foo" name="foo" />
            </form>
            <br/>
            <div class="row">
                <p id="recaptchaResult"></p>
            </div>
        </div>
    </div>

</body>
</html>

@section Scripts
{
    <script src="https://www.google.com/recaptcha/api.js?render=6LfzfAQaAAAAAG1aYoqYh64VaUmAPMSwzU8WDYWa"></script>
    <script>
        $(document).ready(function () {
            
            function RecaptchaData(recaptcha) {
                this.GoogleCaptchaToken = recaptcha;
            }

            function AccountCredentials(inEmail, inPassword, inConfirmPassword) {
                this.Email = inEmail;
                this.Password = inPassword;
                this.ConfirmPassword = inConfirmPassword;
            }

            $('#registerButton').on('click', function (e) {
                e.preventDefault();
                grecaptcha.ready(function () {
                    grecaptcha.execute('6LfzfAQaAAAAAG1aYoqYh64VaUmAPMSwzU8WDYWa', { action: 'homepage' }).then(function (token) {
                        document.getElementById("foo").value = token;

                        let email = $('#emailInput').val();
                        let password = $('#passwordInput').val();
                        let confirmPassword = $('#confirmPasswordInput').val();
                        let recaptcha = $('#foo').val();

                        let recaptchaData = new RecaptchaData(recaptcha);
                        let accountCredentials = new AccountCredentials(email, password, confirmPassword);

                        let recaptchaResultElement = $('#recaptchaResult');

                        if (recaptchaResultElement != null) {
                            recaptchaResultElement.hide();
                        }

                        $.ajax({
                            type: 'POST',
                            url: '/api/home/recaptcha',
                            contentType: 'application/x-www-form-urlencoded',
                            data: recaptchaData
                        }).done(function (data) {
                            $('#recaptchaResult').show();
                            $('#recaptchaResult').html(data);
                            if (data.indexOf("passed") !== -1)
                            {
                                $.ajax({
                                    type: 'POST',
                                    url: '/api/Account/Register',
                                    contentType: 'application/json; charset=utf-8',
                                    data: JSON.stringify(accountCredentials)
                                }).done(function (data) {
                                    $(':input', '#dataForm')
                                        .not(':button, :submit, :reset, :hidden')
                                        .val('')
                                })
                            }
                        })

                    });
                });
            })
        })

    </script>
}
