<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div class="row">
        <div class="col-sm-4">
            <form id="dataForm">
                <h3>Upload Image into AWS S3</h3>
                <div class="form-group">
                    <label>Upload your Image</label>
                    <input class="form-control" type="file" id="fileInput" />
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-default" id="uploadButton">Upload</button>
                </div>
                <div class="form-group" id="urlLink">
                </div>
                <div id='loadingmessage' style='display:none'>
                    <img src='~/img/ajax-loader.gif' />
                </div>
            </form>
        </div>
    </div>
</body>
</html>

@section Scripts
{
    <script>
        $(document).ready(function () {


            $('#uploadButton').on('click', function (e) {
                e.preventDefault();

                var fileInput = document.getElementById("fileInput").files[0];

                var formToPost = new FormData();
                formToPost.append("fileUpload", fileInput);

                var pElement = document.getElementById('pElement');
                var aElement = document.getElementById('aElement');

                if (pElement != null && aElement != null) {
                    $('#urlLink').hide();
                    $('#loadingmessage').show();
                }
                else {
                    $('#loadingmessage').show();
                }
                
                $.ajax({
                    type: 'POST',
                    url: 'https://localhost:44367/api/v1/uploadFileToS3',
                    processData: false,
                    contentType: false,
                    data: formToPost
                }).done(function (data) {
                    $('#loadingmessage').hide();
                    var pElement = document.getElementById('pElement');
                    var aElement = document.getElementById('aElement');
                    if (pElement == null && aElement == null) {
                        var $pElement = $('<p></p>', { text: 'Link:', id: 'pElement' });
                        var $aElement = $('<a></a>', { href: data.url, text: data.url, target: "_blank", id: 'aElement' });
                        $('#urlLink').append($pElement);
                        $('#urlLink').append($aElement);
                    }
                    else {
                        $('#urlLink').show();
                        $('#aElement').attr("href", data.url);
                        $('#aElement').html(data.url);
                    }
                    }).fail(function (data) {
                        $('#loadingmessage').hide();
                        console.log(data);
                        if (data.status === 403) {
                            var message = data.promise(data).responseJSON;
                            if (message.indexOf('shorten link') > -1) {
                                alert(message);
                            }
                        }
                        else if (data.status === 500) {
                            var message = data.responseJSON.ExceptionMessage;
                            if (message.indexOf("AWS") > -1) {
                                alert("There is some error connecting to the AWS Server. Please try again later.");
                            }
                        }
                    })
            })
        })
    </script>
}