<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div class="row">
        <div class="col-sm-4">
            <form id="dataForm">
                <h3>Upload Image into AWS S3</h3>
                <div class="form-group">
                    <label>Upload your Image</label>
                    <input class="form-control" type="file" id="fileInput" />
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-default" id="uploadButton">Upload</button>
                </div>
                <div class="form-group" id="urlLink">
                </div>
            </form>
        </div>
    </div>
</body>
</html>

@section Scripts
{
    <script>
        $(document).ready(function () {


            $('#uploadButton').on('click', function (e) {
                e.preventDefault();

                var fileInput = document.getElementById("fileInput").files[0];

                var formToPost = new FormData();
                formToPost.append("fileUpload", fileInput);

                $.ajax({
                    type: 'POST',
                    url: 'https://localhost:44367/api/v1/uploadFileToS3',
                    processData: false,
                    contentType: false,
                    data: formToPost
                }).done(function (data) {
                    var $pElement = $('<p></p>', { text: 'Link:' });
                    var $spanElement = $('<a></a>', { href: data.url, text: data.url, target: "_blank" });
                    $('#urlLink').append($pElement);
                    $('#urlLink').append($spanElement);
                })
            })
        })
    </script>
}